{%extends 'base.html.twig'%}

{%block title 'Tous nos bien' %}

{%block body%}

<div class="jumbotron">

    <div class="container mt-4 mb-4 align-items">

    {{ form_start(form) }}
    <div class="form-row">
        <div class="col">
             {{ form_row(form.maxPrice)}}
        </div>
        <div class="col">
            {{ form_row(form.minNbChevaux)}}
        </div>
        <div class="col">
            <button class="btn btn-primary">Rechercher</button>
        </div>
    </div>
    {{ form_end(form) }}

    

    </div>

</div>


<div class="container">
<div class=" mt-4 mb-4 ">
<h1>voir tous nos bien</h1>

<div class="row">
    {% for property in properties %}
        {% include 'property/_property.html.twig'  %}
    {% endfor %}
</div>

<div class="pagination">
    
        {{ knp_pagination_render(properties)}}
    
</div>


</div>



</div>

{%endblock%}